@model Dot_myCovid19app.Models.Video

@{
    ViewBag.Title = "Details Video";
}

<h2>Details Video</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifieddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifieddate)
        </dd>

    </dl>
</div>
<p>
    @if (Convert.ToString(Session["UserType"]) == "Admin")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
