@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Covid19 Current Status</h1>
   <p class="lead">Here you will get the current status of Covid19 worldwide which is directly retrieved from World Helath Organization website.</p>
   <marquee direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" bgcolor="#00224f" scrolldelay="600" behavior="loop">@ViewBag.MyString</marquee>
</div>

<div class="row">
    <div class="col-md-4" style="width:30%;height:180px;">
        <h2>Advices</h2>
        <p>
            Here one can get the advice regarding Travel, Myth Bust and how to protect yourself etc.
        </p>
        <p>@Html.ActionLink("Advice", "Index", "Advice", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4" style="width:35%;height:180px;">
        <h2>Treatment</h2>
        <p>This module is regarding what is the treatement of Covid19 at home and the detail regarding the available Vacines.</p>
        <p>@Html.ActionLink("Treatment", "Index", "Treatment",null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4" style="width:35%;height:180px;">
        <h2>Notification</h2>
        <p>Notifications regarding Covid19</p>
        <p>@Html.ActionLink("Notification", "Index", "Notification", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="width:30%;height:180px;">
        <h2>Videos</h2>
        <p>Videos relevant to the Covid19 treatment, tips and nutrition tips etc.</p>
        <p>@Html.ActionLink("Videos", "Index", "Video", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4" style="width:30%;height:180px;">
        <h2>URLs</h2>
        <p>URLs relevant to respective Country and the title mentioned etc. </p>
        <p>@Html.ActionLink("URLs", "Index", "URL", null, new { @class = "btn btn-default" })</p>
    </div>
</div>